name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug current directory
        run: |
          pwd
          ls -la

      - name: Install dependencies
        run: npm install
      - name: Inject .env file
        run: |
          cp /home/overjjang/env/overjjangDiscordBot.env .env

      - name: Run deploy script
        run: node commandDeploy.js

      - name: Restart bot with PM2
        run: pm2 restart overjjangBot || pm2 start index.js --name overjjangBot
