name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          cd overjjangDiscordBot
          npm install

      - name: Run deploy script
        run: |
          cd overjjangDiscordBot
          node commandDeploy.js

      - name: Restart bot with PM2
        run: |
          pm2 restart overjjangBot || pm2 start index.js --name overjjangBot
