name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run deploy script
        run: node commandDeploy.js

      - name: Restart bot with PM2
        run: pm2 restart overjjangBot || pm2 start index.js --name overjjangBot
